

body{

}

.body{
  display: flex;
}
header{
  background-color: gray;
  border: 2px solid rgb(0, 0, 0);
  border-bottom: 0px;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 100% - 20px;
}

.acciones{
  display: flex;
  width: 35%;
  height: 6em;
  border-top: 2px solid rgb(0, 0, 0);
}
.accion{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  margin: 0px;
  width: 100%;
  background: rgb(255, 255, 255) repeat;
}

.accion:hover{
  background: rgb(205, 205, 205) ;
}

.links{
  width: 20%;
  display: flex;
  height: 9em;
  flex-direction: column;
  justify-content: center;
  border-top: 2px solid rgb(0, 0, 0);
}
.link{
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventario{
  width: 55%;
}

table{
  width: 50%;
}

.items{
  border: 2px solid rgb(0,0,0);
  border-bottom: 0;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.venta{
  border: 2px solid rgb(0,0,0);
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;

}
.vender{
  padding: 10px;
  height:40px;
}
