html, body{
  height: 98%;
  width: 98%;
}

body{
  display: table;
}

body div{
  display: table-cell;
  vertical-align: middle;
}

form{
  border: 2px solid rgb(0, 0, 0);
  margin: auto;
  padding: 15px;
  text-align: center;
  width: 290px;
}

table{
  margin: auto;
}

button{
  margin-left: 125px;
}

td{
  text-align: left;
  padding-bottom: 15px;
}

header{
  background-color: gray;
  border: 2px solid rgb(0, 0, 0);
  border-bottom: 0px;
  height: auto;
  margin: auto;
  padding: 5px;
  text-align: center;
  width: 310px;
}
